<a href="https://colab.research.google.com/github/Josh1313/-Python_Basics-_1-/blob/main/Clase_1_Ejercicio_Resuelto__Python_Basics_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EJERCICIOS - Python Basics!

## Ejecución de código

In [1]:
print('mi  nombre es  josue')

mi  nombre es  josue

In [2]:
print('mi nombre es oscar')

mi nombre es oscar

2 - Crea un programa de Python que imprima tu nombre, tu edad y cuántos hermanos tienes

In [3]:
Name = input('insert your name')
Age = input('insert your age')
Brothers = input('insert how many brothers you have')

print('mi nombre es', Name)
print('tengo',Age, 'edad')
print('tengo',Brothers, 'Brothers')

insert your namejosue
insert your age38
insert how many brothers you have2
mi nombre es josue
tengo 38 edad
tengo 2 Brothers

In [4]:
nombre = input('pon tu nombre')
edad = input('pon tu edad')
hermanos = input('cuantos hermanos tienes')

print('mi nombre es',nombre)
print('tengo',edad,'edad')
print('tengo',hermanos)

pon tu nombresamuel
pon tu edad39
cuantos hermanos tienes2
mi nombre es samuel
tengo 39 edad
tengo 2

## Tipos de Datos

3 - ¿ Qué tipo de datos es x= 1.245?

In [5]:
type(1.245)

float

4 - ¿ Qué tipo de datos es x= 1?

In [6]:
type(1)

int

5 - ¿ Qué tipo de datos es x= "Hola"?

In [7]:
type('Hola')

str

6 - Asigna tu nombre a una variable e imprime en pantalla tu nombre y qué tipo de datos es tu nombre

In [8]:
nombre = 'Josue'

In [9]:
variable = 'josue'

In [10]:
print(variable)

josue

In [11]:
print(nombre)

Josue

In [12]:
type(nombre)

str

In [87]:
nombre = 'Josue'
print('Mi nombre es', nombre)
print('El tipo de dato de mi nombre es', type(nombre))

Mi nombre es Josue
El tipo de dato de mi nombre es <class 'str'>

7 - Convierte x = 1.3455 y y="31" a números enteros

In [13]:
x = 1.3455

In [14]:
x_entero = int(x)
print(x_entero)

1

In [15]:
y = '31'
y_entero = int(y)
print(y_entero)

31

In [16]:
type(y)

str

8 - Convierte x = 1 y y="31" a números decimales

In [17]:
x = 1
x_de = float(x)
print(x_de)

1.0

In [18]:
y = "31"
y_decimal = float(y)
print(y_decimal)

31.0

9 - Convierte x = 1 y y=-1,441 a string

In [19]:
x = 1

In [20]:
x_str = str(x)
print(x_str)

1

In [21]:
y = -1.441
y_string = str(y)
print(y_string)

-1.441

10 - Imprime los 3 tipos de datos numéricos más básicos que existen y da un ejemplo de cada uno

In [22]:
x = 10
print(x)

10

In [23]:
x = 1.2225
print(x)

1.2225

In [24]:
x = 2 + 3j
print(x)

(2+3j)

11 - Convierte x=1.3455 a los otros 2 tipos de datos numéricos que has mencionado arriba

In [25]:
x = 1.3455

In [26]:
x_ent = int(x)
print(x)

1.3455

In [27]:
x = 2

In [28]:
x_dd = float(2)
print(x_dd)

2.0

## Variables Numéricas

12 - Calcula la suma de 64 + 32

In [29]:
x = 64 + 32
print(x)

96

13 - Si x = 31.2445 y y= 1.92761, ¿cúanto es x+y?

In [30]:
x = 31.2445

In [31]:
y = 1.92761

In [32]:
print(x + y)

33.172109999999996

14 - Calcula ahora la resta, producto y división de estos números.

In [33]:
resta = x - y

In [34]:
print(resta)

29.316889999999997

In [35]:
Division = x / y

In [36]:
print(Division)

16.208932304771192

15 - Calcula el área de un cuadrado de costado 3cm

In [37]:
Cuadrado = 'lado ' + 'por' ' lado'

In [38]:
side = 3
side_2 = side ** 2
print('el area del cuadrado es', side_2)

el area del cuadrado es 9

16 - Calcula el área de una circunferencia de radio 2cm

In [43]:
import math

In [45]:
r = 5

In [46]:
area = math.pi * r ** 2

In [47]:
print(area)

78.53981633974483

17 - Cuantos años tenías en el año 2000?

In [48]:
DOB = input( 'insert your DOB  with the following format dd/mm/aaaa')
year_birth = int(DOB[-4:])
Edad_en_2000 = 2000 - year_birth
print('tenia', Edad_en_2000, ' years en el year 2000.')

insert your DOB  with the following format dd/mm/aaaa16/04/1985
tenia 15  years en el year 2000.

18 - Calcula el volumen de un cubo de costado 3 cm

In [49]:
#volumen = lado^3 = 3^3 = 27 cm^3

In [50]:
lado = 3

In [51]:
volumen = lado ** 3
print('el volumen del cubo es',volumen)

el volumen del cubo es 27

19 - ¿Si tengo 10 galletas en clase, cuantas galletas podemos comer cada uno si somos 15 estudiantes?. ¿Y si tengo 15 caramelos que no podemos particionar y cada estudiante se comerá mínimo 2?

In [52]:
galletas = 10

In [53]:
estudiantes = 15

In [54]:
cada_uno = 10 / 15

In [55]:
print('pueden comer cada uno', cada_uno)

pueden comer cada uno 0.6666666666666666

In [56]:
caramelos = 15

In [57]:
est_ca = int(caramelos / estudiantes)

In [58]:
print('se pueden comer', est_ca)

se pueden comer 1

## Booleanos

20 - Si Elena tiene 15 años y Jorge tiene 20, comprueba quien es mayor

In [59]:
e = 15

In [60]:
j = 20

In [61]:
ELENA = e > j
Jorge = j > e

In [62]:
print('es verdad que elena es mayor que jorge',ELENA)
print('es verdad que jorge es mayor que elena',Jorge)

es verdad que elena es mayor que jorge False
es verdad que jorge es mayor que elena True

21 - Comprueba efectivamente que Elena y Jorge no tienen la misma edad

In [63]:
misma = e == j

In [64]:
print('es eleana y jorge de la misma edad', misma)

es eleana y jorge de la misma edad False

## Strings

22 - Mi lista de la compra me dice que tengo que comprar 12 huevos, pero quizás más adelante decido comprar más. Imprime mi lista de la compra en C-style

In [69]:
huevos = 12

In [70]:
print("Lista de la compra:")
print("- {} huevos".format(huevos))

Lista de la compra:
- 12 huevos

23 - ¿Cuántas letras tiene la palabra 'abecedario'?

In [66]:
letras = 'abedecedario'

In [67]:
cantidad = len(letras)

In [68]:
print('el abedecedario contiene esta cantidad de letras', cantidad)

el abedecedario contiene esta cantidad de letras 12

24 - Pon en mayúscula las palabra abecedario

In [71]:
mayuscula = letras.upper()

In [72]:
print(mayuscula)

ABEDECEDARIO

25 - Limpia de espacios el siguiente texto: "  q u i e r o   a p r e n d e r   p y t h o n "

In [73]:
texto = " q u i e r o a p r e n d e r p y t h o n "
texto_limpio = texto.replace(" ", "")
print(texto_limpio)

quieroaprenderpython

In [74]:
texto = " s o y c a b r o n e n p y t h o n "

In [75]:
texto_limpio = texto.replace(" ", "")

In [76]:
print(texto_limpio)

soycabronenpython

26 - Reemplaza el "no" por un "yo" en el siguiente texto: "no quiero aprender python, no quiero pasármelo genial!"

In [77]:
texto = "no quiero aprender python, no quiero pasármelo genial!"

In [78]:
sin_no = texto.replace("no", "yoo")

In [79]:
print(sin_no)

yoo quiero aprender python, yoo quiero pasármelo genial!

27 - ¿Cuántas veces aparece el nombre Python en el siguiente texto?:

" Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

Often, programmers fall in love with Python because of the increased productivity it provides. Since there is no compilation step, the edit-test-debug cycle is incredibly fast. Debugging Python programs is easy: a bug or bad input will never cause a segmentation fault. Instead, when the interpreter discovers an error, it raises an exception. When the program doesn't catch the exception, the interpreter prints a stack trace. A source level debugger allows inspection of local and global variables, evaluation of arbitrary expressions, setting breakpoints, stepping through the code a line at a time, and so on. The debugger is written in Python itself, testifying to Python's introspective power. On the other hand, often the quickest way to debug a program is to add a few print statements to the source: the fast edit-test-debug cycle makes this simple approach very effective."

In [81]:
text = """
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

Often, programmers fall in love with Python because of the increased productivity it provides. Since there is no compilation step, the edit-test-debug cycle is incredibly fast. Debugging Python programs is easy: a bug or bad input will never cause a segmentation fault. Instead, when the interpreter discovers an error, it raises an exception. When the program doesn't catch the exception, the interpreter prints a stack trace. A source level debugger allows inspection of local and global variables, evaluation of arbitrary expressions, setting breakpoints, stepping through the code a line at a time, and so on. The debugger is written in Python itself, testifying to Python's introspective power. On the other hand, often the quickest way to debug a program is to add a few print statements to the source: the fast edit-test-debug cycle makes this simple approach very effective.
"""

# Contar el número de veces que aparece "Python" en el texto
count_python = text.count("Python")
print("El número de veces que aparece la palabra 'Python' en el texto es:", count_python)

El número de veces que aparece la palabra 'Python' en el texto es: 8

28 - Pon en mayúscula la primera letra de cada palabra de la siguiente frase:

"python is an interpreted, object-oriented, high-level programming language with dynamic semantics. its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together."

In [82]:
frase = "python is an interpreted, object-oriented, high-level programming language with dynamic semantics. its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together."

frase_en_mayusculas = frase.title()
print(frase_en_mayusculas)

Python Is An Interpreted, Object-Oriented, High-Level Programming Language With Dynamic Semantics. Its High-Level Built In Data Structures, Combined With Dynamic Typing And Dynamic Binding, Make It Very Attractive For Rapid Application Development, As Well As For Use As A Scripting Or Glue Language To Connect Existing Components Together.

In [83]:
frase = "python is an interpreted, object-oriented, high-level programming language with dynamic semantics. its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together"

In [84]:
frase_en_mayuscula = frase.title()

In [85]:
print(frase_en_mayuscula)

Python Is An Interpreted, Object-Oriented, High-Level Programming Language With Dynamic Semantics. Its High-Level Built In Data Structures, Combined With Dynamic Typing And Dynamic Binding, Make It Very Attractive For Rapid Application Development, As Well As For Use As A Scripting Or Glue Language To Connect Existing Components Together